{% extends 'appeal/base.html' %}

{% block content %}
<h1>{{title}}</h1>

На территории Ивановской области установлены станции атмосферного мониторинга, которые могут определять
основные параметры окружающей среды (давление, температуру воздуха и влажность), а также концентрацию твёрдых
 взвешенных частиц диаметром 2.5 (обычно это продукты горения) и 10 (чаще это пыль) мкм в кубометре воздуха. Последние параметры очень важны для отслеживания,
ибо длительное воздействие высоких концентраций взвешенных частиц может оказывать негативное влияние на здоровье
человека.
По данным ВОЗ среднесуточный уровень PM 2.5 в воздухе не должен превышать 25 мкг/м.куб.,
а среднегодовой – не более 10  мкг/м.куб. Относительно уровня PM10 величины следующие:
среднесуточный – не более 50 мкг/м.куб, а среднегодовой – не более 25 мкг/м.куб.
<br><br>
<a href="{% url '4664744' %}">Датчик на ул. Громобоя, 27 (Иваново)</a>

{% endblock %}