{% extends 'appeal/base.html' %}

{% block content %}

<h2>Граждане Ивановской области!</h2> <br> Управлением Федеральной службы по надзору в сфере природопользования (Росприроднадзор)
были назначены общественные инспекторы по охране окружающей среды.
На этом сайте вы можете ознакомиться с нашей деятельностью на территории Ивановской области.
Сюда же, по ссылке в шапке (для авторизованных пользователей), можно писать обращения о любых правонарушениях в сфере природопользования.
Это не заменит прямого обращения в Росприроднадзор, полицию или прокуратуру, но мы можем помочь консультацией,
осмотром территории, проведением некоторых анализов, да и просто добрым словом.
И, конечно же, будем рады видеть здесь всех неравнодушных к проблемам сохранения среды обитания на нашей планете!

Вступайте в группы в Телеграме и ВК, там вся информация будет дублироваться и туда тоже можно писать обращения:
https://t.me/publiceco37, https://vk.com/publiceco37


{% endblock %}