{% extends 'appeal/base.html' %}

{% block content %}

<style>
table {
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

</style>


  <h1>Data for {{ date|date:"Y-m-d" }}</h1>

  <h2>Average Values Today</h2>
  <table>
    <thead>
      <tr>
        <th>Temperature</th>
        <th>Pressure</th>
        <th>Humidity</th>
        <th>SDS P1</th>
        <th>SDS P2</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ avg_today.avg_temp|floatformat:2 }}</td>
        <td>{{ avg_today.avg_pressure|floatformat:2 }}</td>
        <td>{{ avg_today.avg_humidity|floatformat:2 }}</td>
        <td>{{ avg_today.avg_P1|floatformat:2 }}</td>
        <td>{{ avg_today.avg_P2|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>

  <table>

    <thead>
      <tr>
        <th>ESP8266 ID</th>
        <th>BME280 Temperature</th>
        <th>BME280 Pressure</th>
        <th>BME280 Humidity</th>
        <th>SDS P1</th>
        <th>SDS P2</th>
        <th>Timestamp</th>
      </tr>
    </thead>
    <tbody>
      {% for record in data %}
        <tr>
          <td>{{ record.esp8266id }}</td>
          <td>{{ record.BME280_temperature }}</td>
          <td>{{ record.BME280_pressure }}</td>
          <td>{{ record.BME280_humidity }}</td>
          <td>{{ record.SDS_P1 }}</td>
          <td>{{ record.SDS_P2 }}</td>
          <td>{{ record.timestamp|date:"Y-m-d H:i:s" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}