{% extends 'appeal/base.html' %}

{% block content %}

<style>
table {
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
</style>

  <h1>Измерения за {{ date|date:"Y-m-d" }}</h1>

  <h2>Средние значения за сутки</h2>
  <table>
    <thead>
      <tr>
        <th>Температура (Цельсия)</th>
        <th>Давление (hPa)</th>
        <th>Влажность (%)</th>
        <th>PM 10 мкм (мкг/м.куб.)</th>
        <th>PM 2.5 мкм (мкг/м.куб.)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ avg_today.avg_temp|floatformat:2 }}</td>
        <td>{{ avg_today.avg_pressure|floatformat:2 }}</td>
        <td>{{ avg_today.avg_humidity|floatformat:2 }}</td>
        <td>{{ avg_today.avg_P1|floatformat:2 }}</td>
        <td>{{ avg_today.avg_P2|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Все значения за сутки</h2>
  <table>

    <thead>
      <tr>
        <th>ESP8266 ID</th>
        <th>Температура (Цельсия)</th>
        <th>Давление (hPa)</th>
        <th>Влажность (%)</th>
        <th>PM 10 мкм (мкг/м.куб.)</th>
        <th>PM 2.5 мкм (мкг/м.куб.)</th>
        <th>ВРемя замера</th>
      </tr>
    </thead>
    <tbody>
      {% for record in data %}
        <tr>
          <td>{{ record.esp8266id }}</td>
          <td>{{ record.BME280_temperature }}</td>
          <td>{{ record.BME280_pressure }}</td>
          <td>{{ record.BME280_humidity }}</td>
          <td>{{ record.SDS_P1 }}</td>
          <td>{{ record.SDS_P2 }}</td>
          <td>{{ record.timestamp|date:"Y-m-d H:i:s" }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>


{% endblock %}