{% extends 'appeal/base.html' %}


{% block content %}

<style>
table {
    border-collapse: collapse;
    margin: 20px 0;
}

table, th, td{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}

</style>

  <h1>Громобоя, 27 (Иваново)</h1>
{% if image %}
    <img src="{{ image }}" alt="Graph">
{% endif %}
  <h2>Средние значения за сегодня</h2>
  <table>
    <thead>
      <tr>
        <th>Температура (Цельсия)</th>
        <th>Давление (hPa)</th>
        <th>Влажность (%)</th>
        <th>PM 10 мкм (мкг/м.куб.) (норма до 50)</th>
        <th>PM 2.5 мкм (мкг/м.куб.) (норма до 25)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ avg_today.avg_temp|floatformat:2 }}</td>
        <td>{{ avg_today.avg_pressure|floatformat:2 }}</td>
        <td>{{ avg_today.avg_humidity|floatformat:2 }}</td>
        <td>{{ avg_today.avg_P1|floatformat:2 }}</td>
        <td>{{ avg_today.avg_P2|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>

  <h2>Средние значения за последний месяц</h2>
  <table>
    <thead>
      <tr>
        <th>Температура (Цельсия)</th>
        <th>Давление (hPa)</th>
        <th>Влажность (%)</th>
        <th>PM 10 мкм (мкг/м.куб.)</th>
        <th>PM 2.5 мкм (мкг/м.куб.)</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ avg_last_month.avg_temp|floatformat:2 }}</td>
        <td>{{ avg_last_month.avg_pressure|floatformat:2 }}</td>
        <td>{{ avg_last_month.avg_humidity|floatformat:2 }}</td>
        <td>{{ avg_last_month.avg_P1|floatformat:2 }}</td>
        <td>{{ avg_last_month.avg_P2|floatformat:2 }}</td>
      </tr>
    </tbody>
  </table>
  <h2>Последние 10 измерений</h2>
  <table>
    <thead>
      <tr>
        <th>Время замера</th>
        <th>ESP8266 ID</th>
        <th>Температура (Цельсия)</th>
        <th>Давление (hPa)</th>
        <th>Влажность (%)</th>
        <th>PM 10 мкм (мкг/м.куб.)</th>
        <th>PM 2.5 мкм (мкг/м.куб.)</th>
      </tr>
    </thead>
    <tbody>
      {% for data in latest_data %}
        <tr>
          <td>{{ data.timestamp }}</td>
          <td>{{ data.esp8266id }}</td>
          <td>{{ data.BME280_temperature }}</td>
          <td>{{ data.BME280_pressure }}</td>
          <td>{{ data.BME280_humidity }}</td>
          <td>{{ data.SDS_P1 }}</td>
          <td>{{ data.SDS_P2 }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}